In [6]:
# Write a program that uses input to prompt a user for their name and then welcomes them.

name = input('What is your name')
welcome = f"Hello, {name} welcome to the club"
print(welcome)

What is your name Jake mwendwa

Hello, Jake mwendwa welcome to the club

In [14]:
#  Write a program to prompt the user for hours and rate per hour to compute gross pay.

hours = input('Kindly input the hours you work daily')
rate_per_hour = input('what about the rate per hour?')

gross_pay = int(hours) * float(rate_per_hour)

print(f"Your gross pay is {gross_pay} $")

Kindly input the hours you work daily 9
what about the rate per hour? 10

Your gross pay is 90.0 $

In [15]:
width = 17
height = 12.0

num1 = width//2
print(type(num1))

num2 = width/2.0
print(type(num2))

num3 = height/3
print(type(num3))

1 + 2 * 5

<class 'int'>
<class 'float'>
<class 'float'>

11

In [15]:
#  Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.

users_temp = input('input your temperature in celcius: ')

convert = int(users_temp) * 9/5 + 35
faren_temp = f"temperature is {convert} °F"
print(faren_temp)

input your temperature in celcius:  HKQD

ValueError: invalid literal for int() with base 10: 'HKQD'

LOOPS AND STATEMENTS

In [ ]:
x != y               # x is not equal to y
x > y                # x is greater than y
x < y                # x is less than y
x >= y               # x is greater than or equal to y
x <= y               # x is less than or equal to y
x is y               # x is the same as y
x is not y           # x is not the same as y

In [1]:
x = 50

if x > 0:
    print('X is positive')

X is positive

In [3]:
y = 29

if y % 2 == 0:
    print('y is even')
else:
    print('y is odd')

y is odd

In [6]:
x = 30
y = 30

if x < y:
    print('x is less than y')
elif y > x:
    print('y is less than x')
else:
    print('x is equal to y')

x is equal to y

GUESSING GAME

In [14]:
guesses = ['a', 'b', 'c']
welcome = input('hello there welcome to the game [enter yes to continue]')

# to initialize the game
if welcome == 'yes':
    print('Kindly wait for the game to begin')
else:
    print('game has ended kindly enter yes to play')
    pass

# begin playing now
if welcome == "yes":
    guess = input('enter any of the letters [a, b, c]')
    if guess == 'a':
        print('You have entered the millionares club')
    elif guess == 'b':
        print('You have entered the billionares club')
    elif guess == 'c':
        print('You have entered the middle class')
    else:
        print('Kindly enter any of these letters [a, b, c]')
else:
    print('Kindly enter yes to initialize the game')

hello there welcome to the game [enter yes to continue] yes

Kindly wait for the game to begin

enter any of the letters [a, b, c] b

You have entered the billionares club

USING TRY & CATCH

In [ ]:
celcius = input('Kindly enter temperature in celcius to convert')

try:
    cels = float(celcius)
    in_faren = cels * 9/5 + 35
    print(f"{in_faren:.2f} °F")
    
except:
    print('kindly enter a number')

In [ ]:
ITERATION

In [1]:
n = 5

while n > 0:
    print(n)
    n = n - 1
print('BlastOff')

5
4
3
2
1
BlastOff

In [ ]:
# get an inifinite loop
# warning running this 

n = 10

while True:
    print(n, end=' ')
    n = n - 1
print('Done')

In [4]:
# running an ifinite loops unless user
n = 20

while True:
    line = input('>  ')
    if line == 'done':
        break
    print(line)
print('Done!')

>   hello

hello

>   im am edwin

im am edwin

>   done

Done!

In [8]:
while True:
    line = input('> ')
    if line[0] == '#':
        continue
    elif line == 'done':
        break
    print(line)
print('Done')

>  #hello
>  dfkmd

dfkmd

>  fhedfkl

fhedfkl

>  dfeidhe]

dfeidhe]

>  efeiwfeiufh

efeiwfeiufh

>  done

Done

FOR LOOPS

In [9]:
friends = ['Edwin', 'Grace', 'Leon']

for friend in friends:
    print(f"Hello there {friend}")
print('Done!')

Hello there Edwin
Hello there Grace
Hello there Leon

COUNT THE NUMBER OF ITEMS IN A LIST

In [11]:
count = 0
number = ['63', '18', '24', '34', '65', '78', '48', '30']
for itemvar in number:
    count = count + 1
print('Count', count)

Count 8

find the largest value in a list or sequence

In [16]:
largest = None
print('Before', largest)
numbers = ['47', '37', '23', '29', '39', '68']

for itervar in numbers:
    if largest is None or itervar > largest:
        largest = itervar
        print('Loop', itervar, largest)
print('Largest', largest)

Before None
Loop 47 47
Loop 68 68
Largest 68

find the largest value in a list or sequence

In [19]:
smallest = None
print('Before', smallest)
numbers = [67, 40, 34, 59, 50, 12, 54, 57]

for itemsnums in numbers:
    if smallest is None or itemsnums < smallest:
        smallest = itemsnums
        print('Looping', itemsnums, smallest)
print('Smallest: ', smallest)

Before None
Looping 67 67
Looping 40 40
Looping 34 34
Looping 12 12
Smallest:  12

USING FUNCTIONS TO LOOK FOR THE SMALLEST VALUES